@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url(headerBarStyles.css);
@import url(aboutUsStyles.css);
@import url(addArticleStyles.css);
@import url(articlePageStyles.css);
@import url(footerBarStyles.css);
@import url(loginStyles.css);
@import url(indexPageStyles.css);

html, 
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* TERMS STYLE */

.terms {
  line-height: 25px;
}

.terms:not(:last-child) {
  margin-bottom: 10px;
}

/* TERMS STYLE END */

/* FAQ STYLE */

.main__faq-container--question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 40px 20px 0;
  padding: 10px;
  border: 1px solid #000;
  background-color: rgb(0, 94, 0);
  color: #fff;
  border-radius: 4px;
}

.main__faq-container--answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 20px 40px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 4px;
  transition-duration: 1s;
}

.main__faq-container--answer:hover {
  margin: 0 0 20px 40px;
}

/* FAQ STYLE END */

/* USERPROFILE STYLE */

.main__user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 20px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #f7f7f7;
  border-radius: 4px;
}

.settings__button a {
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(0, 94, 0);
  color: #fff;
  margin-right: 5px;
  text-decoration: none;
}

/* USERPROFILE STYLE END */

.main__category-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.main__article--comments {
  margin: 0 70px;
  padding: 5px 10px;
  background-color: #fff;
  /* opacity: 0.8; */
}

.main__news-column--first {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 100%;
}

.main__news--containerRate {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border: rgb(0, 94, 0) 2px solid;
  transition-duration: 1s;
}

.main__news-itemRate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 450px;
  min-width: 250px;
  max-width: 400px;
  padding: 10px;
  border: 0.5px solid #1d1d1d;
}